*.idea/
*.vscode/

*__pycache__/
*.pyc
*.pyo
*.pyd

*.pt
*.pth
*.tar.gz
*.zip

!**/train/
**/train/*
!**/train/saved

!**/inference/
**/inference/*
!**/inference/saved

!**/maps/
**/maps/*
!**/maps/example
!**/maps/gpt4o
!**/maps/lisa

# For taxabind_avs
**/dataset/
**/checkpoints/

!**/lightning_logs/
**/lightning_logs/*
!**/lightning_logs/saved

# Saved weights & logs
**avs_rl_policy.pth
**/avs_rl_policy_21.5k/*